{% extends 'main.html' %}

{%block content%}
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total_orders">
                <div class="card-header">
                    <h5 class="card-title">Customer: {{customer.name}}</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        {% comment %} <a class="btn btn-success">Update Customer</a> {% endcomment %}
                        <a class="btn btn-info text-white" href="/createOrder/{{customer.id}}/">Place Order</a>
                    </h3>
                </div>
            </div>
        </div>            
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders_delivered">
                <div class="card-header">
                    <h5 class="card-title">Contact Information</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-title">
                        <div style="text-align:left;">Email: {{customer.email}}</div>
                        <div style="text-align:left;">Phone: {{customer.phone}}</div>
                    </h6>
                </div>
            </div>
        </div>            
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders_pending">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{orderCount}}</h3>
                </div>
            </div>
        </div>            
    </div>

</div>

{% comment %} <div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {% csrf_token %}
                <div>{{myFilter.form}}</div>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>

</div>
<br> {% endcomment %}

<div class="row">
    <div class="col-md-5 card card-body">
        <div class="">

            <table class="table table-sm ">
                <tr>
                    <th>Product</th>
                    {% comment %} <th>Category</th> {% endcomment %}
                    <th>Date Ordered</th>
                    <th>Delivered</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {%for i in delivered%}
                    <tr>
                        <td>{{i.prod.name}}</td>
                        {% comment %} <td>{{i.prod.category}}</td> {% endcomment %}
                        <td>{{i.date}}</td>
                        <td>{{i.status}}</td>
                        <td><a href="/updateOrder/{{i.id}}" class="btn btn-sm btn-success">Update</a></td>
                        <td><a href="/deleteOrder/{{i.id}}" class="btn btn-sm btn-danger">Delete</a></td>
                    </tr>
                {%endfor%}
            </table>
        </div>
    </div>

    <div class="col-md-5 card card-body">
        <div class="">

            <table class="table table-sm ">
                <tr>
                    <th>Product</th>
                    {% comment %} <th>Category</th> {% endcomment %}
                    <th>Date Ordered</th>
                    <th>Pending</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {%for i in pending%}
                    <tr>
                        <td>{{i.prod.name}}</td>
                        {% comment %} <td>{{i.prod.category}}</td> {% endcomment %}
                        <td>{{i.date}}</td>
                        <td>{{i.status}}</td>
                        <td><a href="/updateOrder/{{i.id}}" class="btn btn-sm btn-success">Update</a></td>
                        <td><a href="/deleteOrder/{{i.id}}" class="btn btn-sm btn-danger">Delete</a></td>
                    </tr>
                {%endfor%}
            </table>
        </div>
    </div>

    
</div>



{%endblock content%}
