{% extends 'main.html' %}


{%block content%}
{% include 'status.html' %}


<div class="row">
    <div class="col-md-5">
        <h5>CUSTOMERS:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="/customerCreation/">Create Customer</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Customer</th>
                    <th>Phone</th>
                </tr>
                
                    {% for c in Customer %}
                    <tr>
                        <td><a class="btn btn-sm btn-info text-white" href="/customer/{{c.id}}/">view</a></td>
                        <td>{{c.name}}</td>
                        <td>{{c.phone}}</td>
                    </tr>
                    {% endfor %}
                
            </table>

        </div>
    </div>

    <div class="col-md-7">
        <h5>ORDERS</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="/">Create Order</a>
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date Order</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {%for i in Order%}
                    <tr>
                        <td>{{i.prod.name}}</td>
                        <td>{{i.prod.date}}</td>
                        <td>{{i.status}}</td>
                        <td><a href="/updateOrder/{{i.id}}" class="btn btn-sm btn-success">Update</a></td>
                        <td><a href="/deleteOrder/{{i.id}}" class="btn btn-sm btn-danger">Delete</a></td>

                    </tr>
                {%endfor%}
               
            </table>
        </div>
    </div>

</div>




{%endblock content%}

