{% extends 'main.html' %}

{%block content%}
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Products</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Order</th>
                    </tr>
                    {%for p in products%}
                        <tr>
                        
                            <td>{{p.name}}</td>
                            <td>{{p.category}}</td>
                            <td>{{p.price}}</td>
                            <td><a href="/ordered/{{request.user.id}}/{{p.id}}/" class="btn btn-md btn-info text-white">Order</a></td>
                        </tr>
                    {%endfor%}
                    
                    {%for message in messages%}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong> thanks for shopping, Will deliver your order soon.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {%endfor%}
                    
                </table>
            </div>
        </div>
    </div>



{%endblock content%}